<p style="color: green"><%= notice %></p>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <!-- <%= link_to "Show this user", user %> -->
      <%= link_to 'Show User (turbo)', users_path(id: user), data:{turbo_frame: @user}%>
    </p>
  <% end %>
</div>

