<p style="color: green"><%= notice %></p>

<div id="emails">
  <% @emails.each do |email| %>
    <%= render email %>
    <p>
      <%= link_to 'Show Email (turbo)', emails_path(id: email), data:{turbo_frame: @email}%>
    </p>
  <% end %>
</div>


