<p style="color: green"><%= notice %></p>

<div id="emails">
  <% @emails.each do |email| %>
    <%= render email %>
    <p>
      <%= link_to "Show this email", email %>
      <%= link_to "Voir les informations", emails_path, data:{turbo_frame: "emails/email"} %>
    </p>
  <% end %>
</div>


