<div
  class="container"
>
  
  <div class="d-flex justify-content-between align-items-center">
    <h1>Mes emails </h1>
        <div>
          <%= button_to "Synchroniser", emails_path, class: "btn btn-info bi bi-arrow-clockwise" %>
        </div>
  </div>
  
  <div
    class="row justify-content-center align-items-start g-2"
  >
    <div class="col-6">
      <h2>Liste des emails</h2>
      <%= render 'emails/emails_all' %>
    </div>
    <div class="col-6">
      <h2>Email</h2>
      
      <%# TURBO %>
        <%= turbo_frame_tag @email do %>
          <p><%= render "emails/email", email: @email %></p>
        <% end %>
    </div>
  </div>
  
</div>
